<div class="cards p-3">
  <% chatrooms.each do |chatroom| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'image1.jpg' %>)">
      <%= chatroom.name.capitalize %>
    </div>
  <% end %>
</div>
