<div class="chatroom-container">
  <%= render "chatrooms/sidebar", chatrooms: @chatrooms, users: @users, rooms: @rooms, chatroom: @chatroom %>
  <% if @single_chatroom %>
    <%= render "chatrooms/chat_container" ,single_chatroom: @single_chatroom, message: @message, user: @user %>
  <% else %>
    <%= render "chatrooms/overview",chatrooms: @chatrooms %>
  <% end %>
</div>
