<div class="container d-flex chatroom_container
 ">
  <%= render "chatrooms/sidebar", chatrooms: @chatrooms, users: @users, rooms: @rooms, chatroom: @chatroom %>
  <% if params[:id].present? %>
    <%= render "chat_container" ,single_chatroom: @single_chatroom, message: @message, user: @user %>
  <% else %>
    <%= render "chatrooms/overview",chatrooms: @chatrooms %>
  <% end %>
</div>
