<nav>
  <div class="navbar">
    <ul>
      <% if user_signed_in? %>
        <li>
          <div class="nav-item">
            <i class="fa-solid fa-house nav-icon"></i>
            <%= link_to "Home", children_path, class: "nav-link" %>
          </div>
        </li>
        <li>
           <div class="nav-item">
            <i class="fa-solid fa-message nav-icon"></i>
            <%= link_to "Contact", '#', class: "nav-link" %>
          </div>
        </li>
        <li>
          <div class="nav-item">
            <i class="fa-solid fa-right-from-bracket nav-icon"></i>
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          </div>
        </li>
      <% else %>
        <li>
           <div class="nav-item">
            <i class="fa-solid fa-right-to-bracket nav-icon"></i>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
