<%# <div id="root" data-controller='react-connect'></div> %>


<div class="homnt-container" id="root">
  <div class="home-top-section">
    Home page - Top section
  </div>

  <div class="home-section">
    Home - Section 1
  </div>

  <div class="home-section">
    Home - Section 2
  </div>
</div>
