
<div class="home-container" id="root">
  <div class="home-top-section">
    <h1>Yochien Connect</h1>
    <p>Stay connected with your kids on the go.</p>
  </div>

  <div class="home-section-images">
      <%= image_tag("image1.jpg") %>
      <%= image_tag("image2.jpg") %>
  </div>

  <div class="home-section">
    <h3>About Us</h3>
    <p>Yochien Connect is an innovative, secure and easy-to-use tracking system that allows you to know where your children are. Yochien Connect alerts you when it's time for your child to be picked up, dropped off or arrive at school. See the status of all your students with a simple glance at the Yochien Connect dashboard that displays on your phone and computer.</p>
  </div>
</div>
