.message-box {
  word-wrap: break-word;
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555;
  padding: 10px;
  color: white !important;
  p {
    font-size: 8px;
    margin-bottom: 4px;
  }
}
