.navbar {
  z-index: 10;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2rem;
  background-color: $white; // temp
  color: $dark; // temp
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  gap: 2rem;
}

.nav-item {
  text-align: center;
  cursor: pointer;
}

.nav-item:hover {
  opacity: 0.8;
}

.navbar .nav-link {
  font-size: 0.9rem;
}

.navbar .nav-icon {
  display: none;
  font-size: 1.2rem;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 768px) {
  .navbar {
    background-color: $primary;
    color: $white; // temp
    top: initial;
    bottom: 0;
  }

  .navbar ul {
    justify-content: space-around;
  }

  .nav-item {
    padding: 8px 8px 4px;
    width: 3.6rem;
    border-radius: 8px;
  }

  .nav-item.active {
    background-color: $primary;
    color: $white;
  }

  .navbar .nav-link {
    font-size: 0.7rem;
  }

  .navbar .nav-icon {
    display: block;
  }
}
